<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            My DashBoard
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-4">
                    <app-todo></app-todo>
                </div>
                <div class="col">
                    <app-todo></app-todo>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <app-todo></app-todo>
                </div>
                <div class="col">
                    <app-status></app-status>
                </div>
            </div>
        </div>
    </div>
    {{ name }}
</div>
